{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "globals": {
    "env": true
  },
  "plugins": ["eslint-plugin-react", "react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    // "semi": ["error", "never"],
    "quotes": ["error", "double"],
    // "comma-dangle": ["error", "always-multiline"],
    "indent": ["error", 2],
    "eqeqeq": "error",
    "camelcase": "error",
    "eol-last": "error",
    "max-len": ["error", { "code": 120, "ignoreStrings": true }],
    "prefer-const": "error",
    "object-curly-spacing": ["error", "always"],
    "react/jsx-uses-vars": 1,
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs"],
    // "comma-spacing": ["error", {"before": false, "after": true}],
    "implicit-arrow-linebreak": ["error", "beside"],
    "one-var": ["error", "never"],
    "operator-linebreak": ["error", "before"],
    "no-compare-neg-zero": "error",
    "no-debugger": "error",
    // "no-console": ["error",  { "allow": ["warn", "error"] }],
    "no-alert": "error",
    "no-multi-spaces": "error",
    "no-unused-vars": [
      "error",
      { "vars": "local", "varsIgnorePattern": "React" }
    ],
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "no-trailing-spaces": "error",
    "no-var": "error"
  }
}
